<header class="c-header">
  <div class="c-header__box">
    <div class="c-search">
      <div class="c-search__box">
        <label for="js-search-input" class="u-screen-reader-text">블로그 내에서 검색</label>
        <input type="text" id="js-search-input" class="c-search__text" autocomplete="off" placeholder="검색하기">
        <div data-icon='ei-search' data-size='s'></div>
      </div>
      <ul id="js-results-container" class="c-search-results-list"></ul>
    </div>
    <div class="c-nav">
      <ul class="c-nav__list u-lists-reset">
        <li class="c-nav__item is-active">
          <div data-icon='ei-pencil' data-size='s'></div> 포스트</li>
        <li class="c-nav__item">
          <div data-icon='ei-star' data-size='s'></div> 카테고리</li>
      </ul>
    </div>
  </div>
</header> <!-- /.c-header -->